<tr>
    <td>1</td>
    <td>Username</td>
    <td>example@gmail.com</td>
    <td>Manufacturer</td>
    <td>Male</td>
    <td>Agreed</td>
    <td>
        <a href="#" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete">
            <span class="text-gradient"><i class="fa-solid fa-trash-can"></i></span>
        </a>
    </td>
</tr>